{% extends "admintemplates/adminbase.html" %}
{% load static %}

{% block contnet %}

<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Basic table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'align="center">
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>Category Name</th>
            <th>Images</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for i in categoryobjectt %}
            <tr data-expanded="true">
               <td>{{forloop.counter}}</td>
               <td>{{i.title}}</td>
               <td><img src="{{i.image.url}}" width="100"></td>
               <td>
                 <a href="{% url 'product:admincategoryupdate' i.pk %}" class="adminproductupdatebtn btn-primary">Update</a>
                 <a href="{% url 'product:adminproductdelete' i.pk %}" class="btn btn-danger">Delete</a>

               </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}