{% extends "admintemplates/adminbase.html" %}
{% load static %}

{% block contnet %}

<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Basic table
    </div>
    <table class="table" ui-jq="footable" ui-options='{
      "paging": {
        "enabled": true
      },
      "filtering": {
        "enabled": true
      },
      "sorting": {
        "enabled": true
      }}'align="center">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.as_p}}
						<button class="btn btn-info w-100">Save Data</button>
					</form>
  </table>
  </div>
</div>



{% endblock %}