{% extends "admintemplates/adminbase.html" %}
{% load static %}

{% block contnet %}

<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Basic table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'align="center">
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Images</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for i in productlist %}
            <tr data-expanded="true">
               <td>{{forloop.counter}}</td>
               <td>{{i.name}}</td>
               <td>{{ i.price}}</td>
               <td><img src="{{i.images.url}}" width="100"></td>
               <td>{{i.quentity}}</td>
               <td>
                 <a href="{% url 'product:adminproductupdate' i.pk %}" class="btn btn-primary">Update</a>
                 <a href="{% url 'product:adminproductdelete' i.pk %}" class="btn btn-danger">Delete</a>

               </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}