{% extends "admintemplates/adminbase.html" %}
{% load static %}

{% block contnet %}

<div class="table-agile-info">
<div class="panel panel-default">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-info w-100">submit</button>
</form>


{% endblock %}