{% extends "base.html" %}
{% block content %}
<div class="banner">
<div class="w3l_banner_nav_right">
<div class="w3_login">
	<h3>enter the product details</h3>
	<form method="POST" enctype="multipart/form-data">
		<div class="w3_login_module">
			<div class="module form-module">
			  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
				<div class="tooltip">Click Me</div>
			  </div>
			  <div class="form">	
			     {% csrf_token %}
			     <br>
		         {{form.as_p}}
		        <button>submit</button>
		      </div>
		    </div>
		</div>
	</form>


{% endblock %}