{% extends "base.html" %}
<br><br><br>
{% load static %}
{% block content %}

<!-- products-breadcrumb -->

<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">

		<div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner4" style="background:url({{categoryobject.image.url}}) no-repeat 0px 0px;">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				
				<h3>{{ categoryobject.title }} Products</h3>
						{% for subcategory in categoryobject.sub_category_set.all %}
				<div class="w3ls_w3l_banner_nav_right_grid1">
					<h6>{{subcategory.title}}</h6>
					{% for i in subcategory.product_set.all %}	
						<div class="col-md-3 w3ls_w3l_banner_left">
							<div class="hover14 column">
							<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive"/>
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/product/{{i.id}}/details/">><img src="{{ i.images.url }}" style="height:250px;object-fit: cover" class="img-responsive" /></a>
												<p>{{ i.name }}</p>
												<h4>{{ i.price }}({{i.weight }}{{ i.quentity }})</h4>
												<p>views{{ i.view_count }}</p>
											</div>
											<div class="snipcart-details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="dishwash gel, lemon" />
														<input type="hidden" name="amount" value="8.00" />
														<input type="hidden" name="discount_amount" value="1.00" />
														<input type="hidden" name="currency_code" value="USD" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Add to cart" class="button" />
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
							</div>
						</div>
					{% empty %}
					<h4>No products found...</h4>
				{% endfor %}
					<div class="clearfix"> </div>
				</div>
			{% endfor %}
		
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>sign up for our newsletter</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

{% endblock %}