{% extends "base.html" %}
{% load static %}
{% block content %}
	{% for i in search_results %}
	<li><a href="/product/{{i.id}}/details/">{{i.name}}</a></li>
	<img src="{{ i.images.url }}" width="300"> 
	<p>Rs. {{i.price}}/-</p>
	{% empty %}
	<li>No Products Found</li>
	{% endfor %}
{% endblock %}