{% extends "base.html" %}
{% load static %}
<br><br><br><br>
{% block content %}
<style>
    #b{width: 300px;}
    p{color: #4b9303;
    font-weight: 1000;font-size: 25px}
</style>
<div class="container">
        <link rel="stylesheet" href="{% static 'css/jquery.wm-zoom-1.0.min.css' %}">
        <div class="wm-zoom-container my-zoom-1">
            <div class="wm-zoom-box">
            <h5 class="card-title">
            <img id="b" src="{{ product_detail.images.url }}" class="wm-zoom-default-img" alt="alternative text" data-hight-src="{{ product_detail.images.url }}">
            </div>
            <br><br><br>
            <div class="card-body">
               <h5 class="card-title">{{ product_detail.name }}</h5>
               <h5 class="card-title">रु:{{ product_detail.price }}</h5>
               <a href="#" class="btn btn-primary">Added to cart</a>
               <h5>total views{{ product_detail.view_count }}</h5>
            </div>  
        </div> 
</div>  
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.wm-zoom-1.0.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.my-zoom-1').WMZoom();
        $('.my-zoom-2').WMZoom({
            config : {
                        inner : true
                    }
                });
            });
</script>

<!--code for rating-->
<style>
    .star{
      color: goldenrod;
      font-size: 20px;
      padding: 0.001px; /* space out the stars */
    }
    .star::before{
      content: '\2606';    /* star outline */
      cursor: pointer;
    }
    .star.rated::before{
      /* the style for a selected star */
      content: '\2605';  /* filled star */
    }
    
    .stars{
        counter-reset: rateme 0;   
        font-size: 1rem;
        font-weight: 400;
    }
    .star.rated{
        counter-increment: rateme 1;
    }
    .stars::after{
        content: counter(rateme) '/5';
    }
</style>
<h4>please rate this product</h4>
<div class="stars">
    <span class="star">&nbsp;</span>
    <span class="star">&nbsp;</span>
    <span class="star">&nbsp;</span>
    <span class="star">&nbsp;</span>
    <span class="star">&nbsp;</span>
</div>
<script>
    //initial setup
    document.addEventListener('DOMContentLoaded', function(){
        let stars = document.querySelectorAll('.star');
        stars.forEach(function(star){
            star.addEventListener('click', setRating); 
        });
        
        let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
        let target = stars[rating - 1];
        target.dispatchEvent(new MouseEvent('click'));
    });
    function setRating(ev){
        let span = ev.currentTarget;
        let stars = document.querySelectorAll('.star');
        let match = false;
        let num = 0;
        stars.forEach(function(star, index){
            if(match){
                star.classList.remove('rated');
            }else{
                star.classList.add('rated');
            }
            //are we currently looking at the span that was clicked
            if(star === span){
                match = true;
                num = index + 1;
            }
        });
        document.querySelector('.stars').setAttribute('data-rating', num);
    }
</script>

{% endblock %}